{% extends "@BirkTwig/home.html.twig" %}

{% block content %}
    <h1>
        All the fun Categories
    </h1>
    {% for c in categories %}

        <div class="element">
            <h3>{{ c.nom }}</h3>
            <p>{{ c.description }}</p>
            {% for e in categories.events %}
                <li><a href="{{ path('birk_my_events_eventsall') }}">{{ e.nom }}</a></li>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}