{% extends "@BirkTwig/base.html.twig" %}

{% block title %}CoolEventz{% endblock %}

{% block body %}
    <main>
        <a id="header" href="{{ path('homepage') }}">cOOl//eVeNTZ//</a>


            <div id="conteneur">
                {% block content %}

                {% endblock %}
            </div>
    </main>
{% endblock %}

{#ceci est une ligne test#}